@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KinoMania</h1>
    <p>Witaj w systemie rezerwacji do kina online. Zapoznaj się z bazą naszych filmów i seansów. Twórz własne listy, rezerwacje i statystyki. Miłego oglądania!</p>

    <div class="d-flex justify-content-center mt-4">
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Filmy</h5>
                <p class="card-text">Przeglądaj naszą bazę filmów.</p>
                <a href="/Films" class="btn btn-primary">Zobacz Filmy</a>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Gatunki Filmów</h5>
                <p class="card-text">Odkryj filmy według gatunków.</p>
                <a href="/FilmTypes" class="btn btn-primary">Zobacz Gatunki</a>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Seanse</h5>
                <p class="card-text">Sprawdź dostępne seanse filmowe.</p>
                <a href="/Seans" class="btn btn-primary">Zobacz Seanse</a>
            </div>
        </div>
    </div>
</div>
